// Insert your styling here.
// Wrappers

// Sidebar
/* Sidebar Styles */

#page-content-wrapper {
  padding: 20px 0px;
}
.region-sidebar-first .block > form {
    padding: 10px;
}

@media(max-width:768px) {
  .navbar-header .sidebar-toggle-button{
    margin-left: 10px;
  }
  #wrapper {
    #sidebar-wrapper{
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      overflow: hidden;
      &.slidein {
        border-right: 1px solid @gray-lighter;
        border-bottom: 1px solid @gray-lighter;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        min-height: 100%;
        width: 80%;
        background: @brand-bg;
        z-index: 1000;
      }
      .sidebar-toggle-button {
        border: none;
        background: @brand-bg;
      }
    }
  }
}

@media(min-width:768px) {
    #wrapper {
      &.user {
          padding-left: 0px;
          text-align:center;
          .main-content-wrapper {
              max-width: 720px;
              margin-left: auto;
              margin-right: auto;
              text-align: left;
          }
          #page-content-wrapper {
              padding: 50px;
              border: none;
          }
          .footer {
            max-width: 100%;
          }
      }
    }
    #wrapper.sidebar-first-absent {
      #sidebar-shrink-button.btn {
        display: none !important;
      }
    }
    #wrapper.sidebar-first-present {
      min-height: 1000px;
      position: relative;
      z-index: 1;
      position: relative;

      &.css-animate {
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          #sidebar-wrapper {
              -webkit-transition: all 0.5s ease;
              -moz-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
          }
      }
      #sidebar-wrapper {
          z-index: 1;
          position: absolute;
          top: 0;
          left: 250px;
          width: 0;
          height: 100%;
          margin-left: -250px;
          overflow-y: auto;
          background-color: @brand-bg;

          &:hover {
            z-index: 2;
            overflow: visible;
          }
          .fa.pm-icon {
            margin-right: 12px;
          }
      }
      #page-content-wrapper {
          z-index: 1;
          width: 100%;
          display: inline-block;
      }
    }
    #sidebar-shrink-button {
        width: 100%;
        height: 30px;
        background-color: @brand-bg;
        border-bottom: 1px solid @gray-lighter;
        &:hover,
        &.active, {
            background-color: @brand-bg;
        }
    }
    #wrapper.toggled.sidebar-first-present {
        padding-left: 250px;
        #sidebar-wrapper {
            width: 250px;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }
        #sidebar-shrink-button {
            width: 100%;
            height: 30px;
            background-color: @brand-bg;
            border-bottom: 1px solid @gray-lighter;
            &:hover,
            &.active, {
                background-color: @brand-bg;
            }
        }
    }



    #wrapper.toggled #sidebar-shrink-button .glyphicon {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    #wrapper.sidebar-first-present {
        padding-left: 250px;
        #sidebar-wrapper {
            width: 250px;
            overflow: hidden;
        }
        #page-content-wrapper {
            border-left: 1px solid @gray-lighter;
        }

    }

    #wrapper.toggled.sidebar-first-present {
        padding-left: 50px;
        #sidebar-wrapper {
            width: 50px;
        }
        #page-content-wrapper {
            position: relative;
            margin-right: 0;
        }
    }
}


// --Sidebar


@media(min-width:768px) {
    .sidebar {
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.sidebar ul.nav > li > a > i {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    margin: -15px 10px -15px -15px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, black 50%);
    -webkit-transition: background-position 0.25s;
    -moz-transition: background-position 0.25s;
    transition: background-position 0.25s;
}

.sidebar ul.nav > li > a {
    position: relative;
    display: block;
    height: 50px;
    padding: 15px 15px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidebar ul.nav > li:hover > a > i {
    background-position: -100% 0;
    color: white;
}
.sidebar ul.nav > li > a > i {
 font-size: 20px;
}
.sidebar ul.nav > li {
 border-bottom: 1px solid #e5e5e5;
}

.sidebar {
  h2.block-title {
    font-size: 1em;
  }
  .pm-dashboard-link.well-sm {
    padding: 0;
  }
  .pm-dashboard-link-add {
    color: white !important;
  }
  div.pm-dashboard-link {
    display: block;
    width: 100%;
    border: none;
    a.btn {
      border: none;
    }
    .well-sm {
      padding: 0;
    }
  }
  h2.block-title {
    background: @label-primary-bg;
    padding: 4px;
    color: @label-color;
  }
  .block-pm h2.block-title {
    margin-bottom: 0px;
  }
  .sidebar-nav nav {
    ul.nav,
    &,
    li.leaf {
        width: 100%;
    }
  }
}

.breadcrumb {
    background-color: @brand-highlighted;
    border-radius: 0;

}


@media(min-width:768px) {
    .lead {
        font-size: 14px;
        color: @gray-light;
    }
}

body {
  .pmks-panel-node {
    .pmks-info {
      .fa {
        display: none;
      }
    }
  }
}

body.pm-use-storm-icons{
  #pmdashboard .pm-dashboard-link {
    .fa {
      display: inline-block;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      overflow: hidden;
      background-position: center center;
    }
    .pm-dashboard-link-main {
      &.btn {
        padding: 7px 10px;
      }
      span {
        vertical-align: middle;
      }
      .fa {
        float: left;
        margin-right: 10px;
      }
    }
    .pm-dashboard-link-add {
      .fa {
        vertical-align: middle;
      }
    }

  }
}

body.pm-use-fa-icons {
  .pmks-panel-node {
    .pmks-info {
      .fa {
        width: 30px;
        display: inline-block;
      }
      .pmks-field-data {
        .field-label {
          display: none;
        }
        &.pull-left {
          .field {
            float: left;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

fieldset.panel {
  padding: 0;
}

.pm-use-storm-icons #pmdashboard  .pm-dashboard-link-main i.fa.pm-icon {
  margin-right: 10px;
}

.sidebar-second-wrapper {
  background: @gray-lightest;
}
