// Bootstrap library.
@import 'bootstrap.less';

// Base-theme overrides.
@import 'overrides.less';

// Theme specific.
@import 'variables.less';
@import 'header.less';
@import 'content.less';
@import 'footer.less';
@import 'vertical-tabs.less';

body {
  background-color: @brand-bg;
}
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.1em;
}

h6, h7 {
  font-size: 1em;
}

span.marker {
  background-color: @btn-info-bg;
  color: @btn-info-color;
  padding: 2px 4px;
  border-radius: @border-radius-base;
}

#navbar {
  margin-bottom: 0px;
  background-color: @brand-bg;
}

.navbar-default.sidebar {
  background-color: @brand-bg;
  color: @gray-dark;
  a {
    color: @gray-dark;
  }
  .nav > li > a {
    border-left: 5px solid @brand-bg;
    &:hover {
      background-color: @brand-bg;
    }
  }
  .nav > li.active > a {
    border-left-color: @brand-primary;
    color: @brand-primary;
    background-color: @brand-highlighted;
  }
}

.region-navigation .block-widget-factory {
  display: inline-block;
  float: right;
  .navbar-top-links > li{
    > a {
      padding: 15px 7px;
    }
    margin: 0px;
  }
}

.block-widget-factory {
  #user-login-form {
    .input-group {
      padding-bottom: 10px;
    }
  }

}

#search-block-form {
  padding: 10px;
}

.sidebar ul li {
  border-bottom: none;
}


.pm-dashboard-link .btn-group{
    width: 100%;
    position: relative;
}

.pm-dashboard-link-main.btn{
    width: 100%;
    text-align: left;
    z-index: 1;
}

.pm-dashboard-link-add.btn{
    position: absolute;
    right: 0px;
    z-index: 2;
}

.table-row-variant(active, @brand-highlighted);

.pm-dashboard-link a.btn {
  border-radius: 0;
}

a.btn-default.pm-dashboard-link-main:hover {
   background-color: @brand-bg;
   color: @brand-primary;
   border-color: @brand-primary;
}

.region-navigation {
  padding: 0px 10px;
}

a.btn.mock-button,
.btn.mock-button {
  outline : none !important;
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: auto;
    .opacity(1);
    .box-shadow(none);
  }
}

#homebox .homebox-portlet .portlet-header {
    border: none;
    background: transparent;
    font-size: inherit;
}
.portlet-header a.btn {
    background: white;
}

#homebox .homebox-portlet {
    background-color: transparent;
    border: none;
}

#homebox .homebox-column {
    margin: 0;
    background: transparent;
    min-height: 40px;
}

#homebox .homebox-portlet .homebox-portlet-inner {
  border-color: #dddddd;
}


#homebox .pmdash-homebox-block {
  .panel-heading {
    padding: 0;
    .portlet-header {
      padding: 10px 15px;
    }
  }
  .portlet-header {
    .btn-group {
      z-index: 10;
    }
    .portlet-title {
      z-index: 9;
    }
  }
  .portlet-maximize {
    .fa-expand.hide {
      display: inline-block !important;
    }
  }
  .portlet-minimize {
    .fa-compress.hide {
      display: inline-block !important;
    }
  }
  .portlet-minus {
    .fa-minus.hide {
      display: inline-block !important;
    }
  }
  .portlet-plus {
    .fa-plus.hide {
      display: inline-block !important;
    }
  }
}

.btn-group-xs ul.dropdown-menu {
  padding: 0;
  button{
    margin: 0;
  }
  li {
    padding: 0;
    margin: 0;
  }
  .btn {
    text-align: left;
  }
}
ul#views-display-menu-tabs ul.dropdown-menu li {
  margin: 0;
}

div.submitted {
  div.image {
    height: 50px;
    width: 50px;
    display: inline-block;
    img {
      border-radius: 50%;
      border: 3px solid #efefef;
      background: @gray-lightest;
      padding: 1px;
      width: 100%;
      height: 100%;
    }
  }
  div.info {
    height: 30px;
    margin: 10px -10px 0 0px;
    line-height: 30px;
    padding: 0 20px;
    display: inline-block;
    background: @gray-lightest;
    border-radius: 10px 0px 0px 10px;
    color: @gray-light;
    a {
      color: @gray;
      font-weight: bold;
    }
  }
}

.btn-group .dropdown-menu  .btn {
  display: block;
  width: 100%;
}


form[class^='node-'],
form[id^='block-'] {
  .pm-kickstart-theme-vertical-tabs-accordion .vertical-tabs-panes {
    overflow-y: visible;
  }
}
.pm-kickstart-theme-vertical-tabs-accordion {
  .vertical-tabs-panes {
    overflow-y: visible;
    padding: 0 0 10px 0;
    small.summary {
      font-size: 0.55em;
    }
    .panel-heading {
      padding: 0;
    }
    .panel-heading button {
      padding: 2px 5px;
      text-align: left;
    }
    > fieldset {
      margin: 0;
      background: #fff;
      overflow: hidden;
      > span.summary {
        display: none;
      }
      button.pmkickstart-accordion-toggle {
        display: block;
        width: 100%;
        background: transparent;
        border: none;
      }
    }
    .form-actions {
      padding-top: 10px;
    }
  }
}
